<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>
  <h1>Ionic Menu Starter</h1>
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content> -->
<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Ionic Menu Starter</h3>
  <h1>Ionic Menu Starter</h1>
  <div class="gameStatus" >
    {{gameStatusMessage}}
  </div>
  <ion-grid class="board">
    <ion-row *ngFor="let row of [0,1,2]">
      <ion-col col-4 class="cell"
            *ngFor="let col of [0,1,2]"
            (click)="handleMove(col+row*3)"
            >
            {{squares[col+row*3]}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <button class="restart" (click)="restartGame()">New Game</button>
</ion-content>
